<% provide(:title, "New Event") %>
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-4">
            <h1>New Event</h1>
        </div>
        <div class="col-2 col-lg-d-none"></div>

        <div class="col-8 text-center">
             <%= render 'form', event: @event %> 
        </div>
        <div class="col-2 col-lg-d-none"></div>

       
    </div>
</div> 

