<footer class="footer">
  <small>
    <a>Ruby on Rails Associations</a>
    by <a href="https://github.com/AlejoCode">Alejandro Salgado</a> and <a href="https://github.com/gonjavi"> Gonzalo J. Mancila </a>
  </small>

   <nav>
    <ul>
       <li><%= link_to "Eventss",  events_path %></li>
      <li><%= link_to "Attendances", attendances_path %></li>
      </ul>
  </nav>
  
</footer>