<!DOCTYPE html>
<html>
  <head>
    <title>Authapp</title>
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">

        <%= yield %>
      </div>

    </div>
  </div>
  </body>
</html>
